{% extends "core/base.html" %}

{% block title %}Index{% endblock title %}
{% block body %}
    <h1>Index of all challenge websites</h1>
    <ul>
        <li><a href="{% url "tutorial:one" %}" target="_self">Tutorial (start here)</a></li>
        <li><a href="{% url "ccc:one" %}" target="_self">Who's Notes?</a></li>
        <li><a href="{% url "ddd:one" %}" target="_self">That note's not mine!?</a></li>
        <li><a href="{% url "eee:one" %}" target="_self">Nostradamus</a></li>
        <li><a href="{% url "fff:one" %}" target="_self">Han van Meegeren</a></li>
        <li><a href="{% url "ggg:one" %}" target="_self">Get Your Priorities Sorted!</a></li>
    </ul>



{% endblock body %}
